@(title: String)(headers: Html = Html("<!-- -->"))(content: Html)

<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
  <!--<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css">

  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
  <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
  @headers

</head>
<body>
@content
</body>
</html>