@()

@core("Index"){
  <script type="text/javascript" src='@routes.Application.connectJs()'></script>
  <!--<script type="text/javascript" src='@routes.TestController.connectJs()'></script> -->
  <script type="text/javascript" src='@routes.Assets.at("javascripts/datadisplay.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/app.js")'></script> }{

  <div class="main-app" ng-app="Veracious" ng-controller="NavigationController as nCtrl">
    @partials.header()
    <div class="container">
      <div ng-show="nCtrl.isLogging()" ng-controller="LogController as logCtrl">
        <div class="row">
          <div class="page-header">
            <h1 class="text-center">
              <span class="glyphicon glyphicon-book"></span>
              Operational Log
            </h1>
          </div>
        </div>
        @partials.logging()
      </div>
      <div ng-controller="BatchController as batchCtrl">

        <div ng-show="nCtrl.isBatch()">
          <div class="row">
            <div class="page-header">
              <h1 class="text-center">
                <span class="glyphicon glyphicon-tasks"></span>
                Create a new batch
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
               @partials.batchDisplay()
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  @partials.batchForm()
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Part to show in the Data page -->
        <div ng-show="nCtrl.isData()">
          <div class="row">
            <div class="page-header">
              <h1 class="text-center">
                <span class="glyphicon glyphicon-hdd"></span>
                Source data-sets
              </h1>
            </div>
          </div>
          <div class="row" ng-if="dsList.length > 0">
            @partials.datasetDisplay("dsList")
            <!-- Source data-sets -->
          </div>
        </div>
        <!-- ---------------------------- -->
      </div>

      <div ng-controller="ResultController as resultCtrl">
        <div ng-show="nCtrl.isResult()">
          <div class="row">
            <div class="page-header">
              <h1 class="text-center">
                <span class="glyphicon glyphicon-stats"></span>
                Visualize Results
              </h1>
            </div>
          </div>
          <!-- Form for result request and window to visualise result -->
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              @partials.chartForm()
            </div>
            <div class="col-sm-10 col-xs-12">
              <div id="chartCanvas"></div>
            </div>
          </div>
        </div>

        <!-- Part to show in the Data page -->
        <div ng-show="nCtrl.isData()">
          <div class="row">
            <div class="page-header">
              <h1 class="text-center">
                <span class="glyphicon glyphicon-equalizer"></span>
                Mining result files
              </h1>
            </div>
          </div>
          <div class="row" ng-if="results.length > 0">
            @partials.datasetDisplay("results")
            <!-- Source data-sets -->
          </div>
          <!-- ----------------------------- -->
        </div>
      </div>
    </div>
  </div>
}