@()

@core("Index"){
  <!--<script type="text/javascript" src='@routes.Application.connectJs()'></script> -->
  <script type="text/javascript" src='@routes.TestController.connectJs()'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/app.js")'></script> }{

  <div class="main-app" ng-app="Veracious" ng-controller="NavigationController as nCtrl">
    @partials.header()
    <div class="container">
      <div ng-show="nCtrl.isLogging()" ng-controller="LogController as logCtrl">
        <div class="page-header">
          <h1>Operational Log</h1>
        </div>
        @partials.logging()
      </div>
      <div ng-show="nCtrl.isBatch()" ng-controller="BatchController as batchCtrl">
        <div class="row">
          <div class="page-header">
            <h1>Batch Processing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              <span class="glyphicon glyphicon-tasks"></span>
              Create a new batch
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
             @partials.batchDisplay()
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                @partials.batchForm()
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              <span class="glyphicon glyphicon-hdd"></span>
              Your data
            </h2>
          </div>
        </div>
        <div class="row">
          <!-- Show Data Sets here -->
        </div>
      </div>
    </div>
  </div>
}