@()

@core("Login Page")() {
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Project: Veracious</h1><small>By Chetan Bhasin and Anish George</small>
      <p>Visual Big Data Mining web-application based on Apache Spark</p>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
        Login / Signup
      </button>
    </div>
  </div>
  <!--- Rest of the Page --->
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Welcome to the Veracious project</h1>
      </div>
      <p>Veracious is a web based application for mining massive datasets by combining datasets brought from different resources using a visual archecture.</p>
      <p>Veracious is different from other data mining tools because it allows you to distribute the data processing over several nodes without touching any code.</p>
      <p>We utilize the power of Apache Spark -- a framework written in Scala which uses a concept called Resilient Distributed Datasets (or RDDs) that are known for working really fast.</p>
    </div>
    <div class="row bg-info">
      <div class="col-md-4">
        <h3>Apache Spark</h3>
        <p><a href="https://github.com/apache/spark">Apache Spark</a> is a top level Apache project created by <a href="https://github.com/mateiz">Matei Zharia</a>
          that aims to provide a simple alternative to Hadoop MapReduce framework to easily allow Big Data Engineers to create applications for solving problems pretaining to massive datastes.</p>
      </div>
      <div class="col-md-4">
        <h3>Play Framework</h3>
        <p>
          <a href="https://www.playframework.com">Play Framework</a> is a web-application framework for building Scala and Java applications. It is based on a lightweight, stateless, web-friendly architecture.
        </p>
        <p>Built on Akka, Play provides predictable and minimal resource consumption (CPU, memory, threads) for highly-scalable applications.</p>
        <p>Veracious is built on Play using the <a href="http://www.scala-lang.org">Scala</a> language.</p>
      </div>
      <div class="col-md-4">
        <h3>Akka toolkit</h3>
        <p>
          <a href="http://akka.io">Akka</a> is a toolkit and runtime or building highly concurrent, distributed, and resilient message-driven applications
          on the JVM.
        </p>
      </div>
    </div>
    <div class="row">
      <h3>User Documentation</h3>
      <p>Coming soon ....</p>

      <h1>Authors and Contributors</h1>
      <p>The project is maintained by <a href="http://github.com/chetanbhasin">@@ChetanBhasin</a> and <a href="http://github.com/bassoGeorge">@@bassoGeorge</a> in 2015 for Major Project Report during Bach. Computer Applications program at IP University, New Delhi.</p>
      <p>The repository for the project can be visited <a href="http://github.com/ChetanBhasin/Veracious">here</a>.</p>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <h4 class="modal-title" id="loginModalLabel">Login to Veracious</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form class="form-horizontal" method="POST" action='@routes.Auth.authenticate'>
              <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input class="form-control col-sm-10" type="text" name="username" placeholder="Username" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input class="form-control col-sm-10" type="password" name="password" required>
                </div>
              </div>
              <div class="form-group">
                <div class="radio col-sm-offset-2 col-sm-4">
                  <label>
                    <input type="radio" name="signUp" value="false" checked>
                    Log In
                  </label>
                </div>
                <div class="radio col-sm-4">
                  <label>
                    <input type="radio" name="signUp" value="true">
                    Sign Up
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
}